.userhead {
    color: white;
    margin-top: 5%;
}

.userinfo {
    margin-top: 9%;
}

.img-bg-user {
    background-image: url("../images/gamesbg.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.user-boxOpacity {
    opacity: 0.8;
}
.user-boxEdit {
    padding-top: 2%;
}